body {
    width: 100vw;
    height: 103vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #5e2e69, #5d3272, #5c377c, #583c86, #534190, #493e8b, #3f3a85, #343780, #252b6a, #171f54, #0a1440, #03032c);
}

body>header {
    width: 100%;
    max-width: 95vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    position: fixed;
    top: 0;
}

header>div:first-child {
    display: flex;
    align-items: center;
    margin-left: 27px;
    gap: 10px;
    border: none;
}

header>div:first-child>figure {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    border: none;
}

header>div:first-child>figure>img {
    width: 40px;
    height: 40px;
}

.figcaption {
    display: none;
}

header>div:first-child>h1 {
    color: var(--color-white);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    font-family: var(--font-family-poppins);
    margin-left: 22px;
}

.hamburguerMenu {
    display: flex;
    align-items: center;
    margin-right: 13px;
}

.openBtn {
    height: 30px;
    width: 30px;
    background-image: '../assets/images/openBtn.png';
    margin-right: 10px;
}

.menuAsideContent {
    width: 100%;
    max-width: 100vw;
    height: 80px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 62px;
    right: 15px;
    background-color: var(--color-white-transparent);
    border-radius: 16px;
}

.menuAsideContent>ul {
    display: flex;
    gap: 12px;
}

.menuAsideContent>ul>li {
    width: 140px;
    height: 40px;
}

.menuAsideContent>ul>li>button {
    width: 100%;
    height: 40px;
    border-radius: 16px;
}

.closeBtn {
    width: 28px;
    height: 28px;
    display: flex;
    background-color: none;
    position: fixed;
    top: 26px;
    right: 21px;
    margin-right: 35px;
}

.login {
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
    font-weight: var(--extra-font-weight-5);
    font-size: var(--font-size-5);
}

.login:hover {
    color: var(--color-black-transparent-90);
    background-color: var(--color-white-transparent-20);
}

.cadastro {
    color: #67397d;
    background-color: var(--color-white);
    border: 0.5px solid var(--color-white);
    font-weight: var(--extra-font-weight-5);
    font-size: var(--font-size-5);
}

.cadastro:hover {
    color: var(--color-white);
    background-color: var(--color-black-transparent-50);
}

main {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#setores {
    width: 280px;
    height: 45px;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-cyan);
    border: 0.5px solid var(--color-white-transparent-20);
    border-radius: 16px;
    font-size: var(--font-size-5);
    font-weight: var(--extra-font-weight-5);
    margin-top: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}

#setoresMargin {
    width: 280px;
    height: 45px;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-cyan);
    border: 0.5px solid var(--color-white-transparent-20);
    border-radius: 16px;
    font-size: var(--font-size-5);
    font-weight: var(--extra-font-weight-5);
    margin-top: 155px;
    padding-left: 10px;
    box-sizing: border-box;
}

#setores>option {
    color: var(--color-white);
}

.sectionSelectAndCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divCardsList {
    width: 100vw;
    max-height: 80vh;
    display: flex;
    margin-left: 40px;
}

.ulCardsList {
    width: 90vw;
    height: 80vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 19px;
    overflow-y: scroll;
}

.liCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    border-bottom: 1px solid var(--color-cyan);
    background-color: var(--color-white-transparent);
    border-radius: 5px;
    height: 211px;
    gap: 5px;
}

.title {
    font-size: var(--font-size-4);
    font-weight: var(--extra-font-weight-4);
    font-family: var(--font-family-poppins);
    color: var(--color-white);
    margin-top: 13px;
}

.hours {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    color: var(--color-white);
    margin-top: 40px;
}

.tagSetor {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 255px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
}

@media(min-width: 768px) {
    body>header {
        max-width: 80vw;
    }

    .hamburguerMenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuAsideContent {
        max-width: 80vw;
        right: 95px;
    }

    .closeBtn{
        right: 92px;
    }

    main>section>div {
        max-width: 50%;
    }
}

@media(min-width: 1024px) {
    .closeBtn{
        right: 115px;
    }
    .menuAsideContent {
        max-width: 80vw;
        right: 115px;
    }
}