body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(to bottom, #4c1460, #684180, #866c9f, #a697bd, #cac3da, #c7c0da, #c4beda, #c1bbda, #958abe, #6b5ba1, #402f84, #010167); */
    background-image: linear-gradient(to bottom, #5e2e69, #5d3272, #5c377c, #583c86, #534190, #493e8b, #3f3a85, #343780, #252b6a, #171f54, #0a1440, #03032c);
}

.figcaption {
    display: none;
}

.buttonsHomeAndLoginDesktop {
    display: none;
}

.menuMobile {
    display: flex;
    align-items: center;
    margin-right: 13px;
}
 
body>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    height: 60px;
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
    background-color: var(--color-white-transparent);
    position: fixed;
    top: 0;
    border: 0.5px solid var(--color-white-transparent-20);
}

.openBtn {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-image: '../assets/images/openBtn.png';
}

.closeBtn {
    width: 25px;
    height: 25px;
    margin-right: 22px;
    display: flex;
    position: fixed;
    top: 18px;
    right: 20px;
    background-color: none;
    color: white;
}

header>div:first-child {
    display: flex;
    align-items: center;
    margin-left: 27px;
    gap: 10px;
    border: none;
}

header>div:first-child>figure {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    border: none;
}

header>div:first-child>figure>img {
    width: 40px;
    height: 40px;
}

header>div:first-child>h1 {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    font-family: var(--font-family-poppins);
    color: var(--color-white);
    margin-left: 22px;
}

.menuAsideContent {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 62px;
    right: 20px;
    width: 100%;
    max-width: 100vw;
    height: 80px;
    border-radius: 16px;
    background-color: var(--color-white-transparent);
}

.menuAsideContent>ul {
    display: flex;
    gap: 12px;
}

.menuAsideContent>ul>li>button {
    width: 140px;
    height: 40px;
    border-radius: 16px;
}

.menuAsideContent>ul>li {
    width: 140px;
    height: 40px;
}

.login {
    font-weight: var(--extra-font-weight-5);
    font-size: var(--font-size-5);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
}

.login:hover {
    background-color: var(--color-white-transparent-20);
    color: var(--color-black-transparent-90);
}

.cadastro {
    font-weight: var(--extra-font-weight-5);
    font-size: var(--font-size-5);
    border: 0.5px solid var(--color-white);
    background-color: var(--color-white);
    color: #67397d;
}
.cadastro:hover {
    background-color: var(--color-black-transparent-50);
    color:var(--color-white)

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

#setores {
    margin-top: 85px;
    display: flex;
    width: 280px;
    height: 45px;
    color: var(--color-white);
    background-color: var(--color-white-transparent);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    border: 0.5px solid var(--color-white-transparent-20);
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 16px;
}

#setoresMargin{
    margin-top: 155px;
    display: flex;
    width: 280px;
    height: 45px;
    color: var(--color-white);
    background-color: var(--color-white-transparent);
    font-size: var(--font-size-5);
    border: 0.5px solid var(--color-white-transparent-20);
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 16px;
}

#setores>option {
    display: flex;
    color: black;
    background-color: transparent;
    border: 0.5px solid var(--color-white-transparent-20);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSelectAndCards {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divCardsList {
    display: flex;
    width: 100vw;
    margin-left: 40px;
    max-height: 80vh;
}

.ulCardsList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 19px;
    margin-top: 25px;
    width: 90vw;
    height: 80vh;
    max-height: 70vh;
} 

.liCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15px;
    border-bottom: 1px solid var(--color-white-transparent-20);
    min-width: 210px;
    height: 211px;
    gap: 5px;
}

.title {
    font-size: var(--font-size-4);
    font-weight: var(--extra-font-weight-4);
    margin-top: 13px;
    font-family: var(--font-family-poppins);
    color: var(--color-white);
}

.hours {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    color: var(--color-white);
    margin-top: 40px;
}

.tagSetor {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 255px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #4c1460, #684180, #866c9f, #a697bd, #cac3da, #c7c0da, #c4beda, #c1bbda, #958abe, #6b5ba1, #402f84, #010167);
    }

    body>header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        /* gap: 30px; */
    }

    main>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 13px;
        position: relative;
    }

    #setores {
        display: flex;
        width: 40vw;
        height: 45px;
        color: var(--color-white);
        background-color: var(--color-blue);
        font-size: var(--font-size-5);
        border: none;
        padding-left: 65px;
        box-sizing: border-box;
        position: absolute;
        top: 15px;
        margin-left: 40px;
    }

    .hidding {
        display: flex;
        width: 305px;
        height: 460px;
        position: inherit;
        background-image: url(../assets/images/homepageImage.png);
    }

    .sectionSelectAndCards {
        display: flex;
        /* margin-right: 100px; */
    }

    .divCardsList {
        display: flex;
        width: 40vw;
        overflow-y: scroll;
    }

    .ulCardsList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: scroll;
        gap: 19px;
        position: absolute;
        top: 130px;
        height: 405px;
        width: 40vw;
    }

    .liCard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 15px;
        border-bottom: 1px solid var(--color-blue);
        min-width: 210px;
        height: 211px;
        gap: 10px;
    }

    .title {
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-2);
        margin-top: 13px;
    }

    .hours {
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-3);
        margin-top: 10px;
    }

    .tagSetor {
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-3);
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        border-radius: 255px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .menuMobile {
        display: none;
    }

    .buttonsHomeAndLoginDesktop {
        display: flex;
        gap: 11px;
    }

    .login {
        height: 38px;
        width: 132px;
    }

    .cadastro {
        height: 38px;
        width: 132px;
    }
}