body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.figcaption{
    display: none;
}

.buttonsHomeAndLoginDesktop{
    display: none;
}

.menuMobile{
    display: flex;
    align-items: center;
    margin-right: 13px;
}

body>header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border: 1px solid var(--color-black-transparent-20);
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
    background-color: var(--color-white-transparent);
    position:fixed;
    top: 0;    
}
 
.openBtn{
    height: 15px;
    width: 23px;
    margin-right: 10px;
    background-image: '../assets/images/openBtn.png';
}

.closeBtn{
    width: 25px;
    height: 25px;
    display: flex;
    position: fixed;
    top: 18px;
    right: 20px;
    background-color: none;
}

header>div:first-child{
    display: flex;
    align-items: center;
    margin-left: 27px;
    gap: 10px;
    border: none;
}

header>div:first-child>figure{
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    border: none;
}

header>div:first-child>figure>img{
    width: 12px;
    height: 12px;
}

header>div:first-child>h1{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    font-family: var(--font-family-poppins);
}

.menuAsideContent{
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 0px;
    width: 100%;
    height: 80px;
    background-color: var(--color-white-transparent);
}

.menuAsideContent>ul{
    display: flex;
    gap: 12px;
    margin-right: 13px;
}

.menuAsideContent>ul>li>button{
    width: 140px;
    height: 40px;
}

.menuAsideContent>ul>li{
    width: 140px;
    height: 40px;
}

.login{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    background-color: var(--color-white);
}

.cadastro{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidding{
    display: none;
}

#setores{
    margin-top: 85px;
    display: flex;
    width: 280px;
    height: 45px;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-size: var(--font-size-5);
    border: none;
    padding-left: 65px;
    box-sizing: border-box;
}
.main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSelectAndCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divCardsList{
    display: flex;
    width: 100vw;
    margin-left: 40px;
}

.ulCardsList{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    gap: 19px;
    margin-top: 25px;
    width: 100vw;
}

.liCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15px;
    border-bottom: 1px solid var(--color-blue);
    min-width: 210px;
    height: 211px;
}

.title{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    margin-top: 13px;
}

.hours{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    margin-top: 50px;
}

.tagSetor{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 255px;
    padding: 10px;
    margin-bottom: 30px;
}
@media(min-width: 768px){
    body{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }

    body>header{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        margin-top: 35px;
        /* gap: 30px; */
    }

    main>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 13px;
        position: relative;
    }
    #setores{
        display: flex;
        width: 40vw;
        height: 45px;
        color: var(--color-white);
        background-color: var(--color-blue);
        font-size: var(--font-size-5);
        border: none;
        padding-left: 65px;
        box-sizing: border-box;
        position: absolute;
        top: 15px;
        margin-left: 40px;
    }
    .hidding{
        display: flex;
        width: 305px;
        height: 460px;
        position: inherit;
        background-image: url(../assets/images/homepageImage.png);
    }
    .sectionSelectAndCards{
        display: flex;
        /* margin-right: 100px; */
    }
    
    .divCardsList{
        display: flex;
        width: 40vw;
        overflow-y: scroll;
    }
    
    .ulCardsList{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: scroll;
        gap: 19px;
        position: absolute;
        top: 130px;
        height: 405px;
        width: 40vw;
    }
    
    .liCard{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 15px;
        border-bottom: 1px solid var(--color-blue);
        min-width: 210px;
        height: 211px;
        gap: 10px;
    }
    
    .title{
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-2);
        margin-top: 13px;
    }
    
    .hours{
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-3);
        margin-top: 10px;
    }
    
    .tagSetor{
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-3);
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        border-radius: 255px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .menuMobile{
        display: none;
    }

    .buttonsHomeAndLoginDesktop{
        display: flex;
        gap: 11px;
    }

    .login{
        height: 38px;
        width: 132px;
    }

    .cadastro{
        height: 38px;
        width: 132px;
    }
}