body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
  }
  
  .c-loader {
    animation: is-rotating 1s infinite;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    border-top-color: var(--color-dark-blue);
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(2turn);
    }
  }