body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/backgroundMobile.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figcaption{
    display: none;
}

.buttonsHomeAndLoginDesktop{
    display: none;
}

.menuMobile{
    display: flex;
    align-items: center;
    margin-right: 13px;
}

body>header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border: 1px solid var(--color-black-transparent-20);
    z-index: 1;
    background-color: var(--color-white);
    position:fixed;
    top: 0;    
}

.openBtn{
    height: 15px;
    width: 23px;
    background-image: '../assets/images/openBtn.png';
}

.closeBtn{
    width: 25px;
    height: 25px;
    display: flex;
    position: fixed;
    top: 18px;
    right: 10px;
    background-color: var(--color-white);
}

header>div:first-child{
    display: flex;
    align-items: center;
    margin-left: 27px;
    gap: 10px;
    border: none;
}

header>div:first-child>figure{
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    border: none;
}

header>div:first-child>figure>img{
    width: 12px;
    height: 12px;
}

header>div:first-child>h1{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    font-family: var(--font-family-poppins);
}

.menuAsideContent{
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 0px;
    width: 100%;
    height: 80px;
    background-color: var(--color-white);
}

.menuAsideContent>ul{
    display: flex;
    gap: 12px;
    margin-right: 13px;
}

.menuAsideContent>ul>li>button{
    width: 140px;
    height: 40px;
}

.menuAsideContent>ul>li{
    width: 140px;
    height: 40px;
}

.home{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    background-color: var(--color-white);
}

.login{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
}

main{
    width: 100vw;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    margin-top: 35px;
}

main>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 490px;
    height: 100%;
    gap: 13px;
}

.sectionAndForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 13px;
}

main>div>div>form:first-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 228px;
    gap: 13px;
}

main>div>h1{
    margin-left: 5%;  
    font-size: var(--font-size-2); 
    margin-top: 40px; 
    display: flex;
    justify-content: flex-start;
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-2);
}

main>div>div>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    gap: 13px;
}

main>div>div>form>button:nth-child(1){
    width: 90%;
    height: 45px;
    padding: 17px auto 13px 20px;
    box-sizing: border-box;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: var(--font-weight-2);
}

main>div>div>form>button:nth-child(2){
    width: 90%;
    height: 45px;
    padding: 17px auto 13px 20px;
    box-sizing: border-box;
    border: 1px solid var(--color-blue);
    background-color: var(--color-white);
    color: var(--color-blue);
    font-weight: var(--font-weight-2);
}

main>div>div>form:first-child>input{
    width: 90%;
    height: 45px;
    border: 1px solid var(--color-black-transparent-20);
    color: var(--color-black-transparent-50);
    padding: 17px auto 13px 20px !important;
    box-sizing: border-box;
}

main>div>div>form:first-child>select{
    width: 90%;
    height: 45px;
    padding: 17px auto 13px 20px;
    box-sizing: border-box;
    border: 1px solid var(--color-black-transparent-20);
    color: var(--color-black-transparent-95);
}


@media(min-width: 768px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/images/backgroundDesktop.png);
    }

    body>header{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    main{
        width: 490px;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        margin-top: 35px;
    }

    main>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 13px;
    }
    .menuMobile{
        display: none;
    }
    .buttonsHomeAndLoginDesktop{
        display: flex;
        gap: 11px;
    }

    .home{
        height: 38px;
        width: 132px;
    }

    .login{
        height: 38px;
        width: 132px;
    }

}